# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/evolix_os?schema=public"

# Authentication Secret Key
AUTH_SECRET="evolix-os-super-secret-development-key-32-chars"
NEXTAUTH_SECRET="evolix-os-super-secret-development-key-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Application Environment
NODE_ENV="development"
